
/* Global Styles */


.error{
    color:red;
    font-size:12px;
    font-style:italic;
}
.message{
    color:darkblue;
    font-size:12px;
    font-style:italic;
}

.form-group label{
    font-weight:100 !important;
}

.valid{
    border-color: green !important;
}

.invalid{
    border-color: red !important;
}


.form-group{
    margin-top: 8px;
}

.form-group label{
    margin-top: 10px;
}

/* Spinners */


.waitingIndicator {
    height: 15px;
    width: 15px;
    opacity: 0;
    border: 4px solid #808080;
    border-radius: 50%;
    animation: pulse 1s ease-out;
    animation-iteration-count: infinite;
}

@keyframes animSpin {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}


@keyframes pulse {
    0% {
      transform: scale(.1);
      opacity: 0.0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: scale(1.2);
      opacity: 0;
    }
}